{
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true,
        "node": true
    },
    "extends": [
        "plugin:vue/vue3-essential",
        "eslint:recommended"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "rules": {
        "indent": 0,
        "linebreak-style": 0,
        "no-console": 0,
        "no-unused-vars": 0,
        "quotes": [
            1,
            "single"
        ],
        "require-atomic-updates": 0,
        "semi": [
            2,
            "always"
        ]
    }
}
